@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=PT+Serif:ital@1&display=swap');

body{
  font-family: 'Quicksand', sans-serif;
}

/*--------------M E N U-------------*/
.menu-container{
  font-weight: 400;
  background-color:rgb(213, 213, 164);
  color: white;
}
.nav :hover{
  text-decoration: overline;
  text-decoration-color: white;
}
/*--------------H O M E-------------*/
.home-container{
  background-color:rgb(213, 213, 164);
}
.home-title{
  font-weight: 500;
  font-size: 55px;
  margin-top: 7%;
  letter-spacing: 10px;
  color: white;
}
.home-desc{
  margin-top: 1%;
  font-size: 20px;
  letter-spacing: 5px;
  font-style: italic;
  font-family: 'PT Serif', serif;
  color: white;
}
/* home - 2*/
.home-container-2{
  background-color: black;
  height: 70vh;
}
.button-pessoas{
  margin-top: 2%;
  border-style: solid;
  border-color: white;
  color: white;
}
