@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=PT+Serif:ital@1&display=swap');

body{
  font-family: 'Quicksand', sans-serif;
}

/*--------------M E N U-------------*/
.menu-container{
  font-weight: 400;
  background-color:rgba(79, 118, 101, 0.7);
  color: white;
}
.nav{
  margin-top: 0.5%;
}
.nav :hover{
  text-decoration: overline;
  text-decoration-color: white;
}
@media screen and (max-width: 400px){
  .nav-me{
    font-size: 80%;
  }
}
/*--------------H O M E-------------*/
.home-container{
  background-color:rgba(79, 118, 101, 0.7);
}
.home-title{
  font-weight: 450;
  font-size: 60px;
  margin-top: 4%;
  letter-spacing: 10px;
  color: white;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: rgb(79, 118, 101);
}
.home-desc{
  margin-top: 1%;
  font-size: 20px;
  letter-spacing: 5px;
  font-style: italic;
  font-family: 'PT Serif', serif;
  color: white;
}
.button-home{
  margin-top: 2%;
  font-size: 20px;
  border-style: solid;
  font-style: italic;
  border-color: white;
  color: white;
  background-color: rgba(79, 118, 101, 0.329);
  transition: transform 0.3s ease;
}
.button-home:hover{
  transform: scale(1.1);
  background-color: rgba(79, 118, 101, 0.7);
}
/* home - pessoas*/
.home-container-2{
  background-image: url('./img/pessoas-1.jpg');
  background-repeat: no-repeat;
  background-position: 0 80%;
  background-size: cover;
}
/* home - lugares*/
.home-container-3{
  background-image: url('./img/praia-1-lugar.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* home - sobre*/
.home-container-sobre{
  background-image: url('./img/daniel-2-sobre.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* home - contato*/
.home-container-contato{
  background-image: url('./img/predios-1-contato.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
/*--------------P E S S O A S-------------*/
.pessoas-dv{
  background-color: rgba(79, 118, 101, 0.7);
  color: white;
}
.carousel-container{
  max-width: 550px;
  margin: 0 auto;
}
.carousel-container img{
  max-width: 100%;
}
.title-pes{
  font-weight: 400;
  font-size: 75px;
  letter-spacing: 10px;
}
@media screen and (min-width: 200px){
  .pessoas-dv{
    height: 150vh;
  }
  .title-pes{
    margin-left: -50%;
    font-size: 30px;
  }
  .pe-p-1{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -35%;
    font-size: 13px;
  }
  .carousel-container{
    margin-top: 10%;
    max-width: 80%;
  }
}
@media screen and (min-width: 300px){
  .pessoas-dv{
    height: 150vh;
  }
  .title-pes{
    margin-left: -20%;
    font-size: 40px;
  }
  .pe-p-1{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -35%;
    font-size: 15px;
  }
  .carousel-container{
    margin-top: 10%;
    max-width: 80%;
  }
}
@media screen and (min-width: 400px){
  .pessoas-dv{
    height: 140vh;
  }
  .title-pes{
    margin-left: -10%;
    font-size: 55px;
  }
  .pe-p-1{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -28%;
    font-size: 20px;
  }
  .carousel-container{
    margin-top: 10%;
    max-width: 80%;
  }
}
@media screen and (min-width: 470px){
  .pessoas-dv{
    height: 150vh;
  }
  .title-pes{
    margin-left: -10%;
  }
  .pe-p-1{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -17%;
    font-size: 20px;
  }
  .carousel-container{
    margin-top: 10%;
    max-width: 80%;
  }
}
@media screen and (min-width: 600px){
  .pessoas-dv{
    height: 140vh;
  }
  .title-pes{
    margin-left: 10%;
  }
  .pe-p-1{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -12%;
    font-size: 20px;
  }
  .carousel-container{
    margin-top: 10%;
  }
}
@media screen and (min-width: 700px){
  .pessoas-dv{
    height: 100vh;
  }
  .title-pes{
    font-size: 46px;
    margin-left: -4%;
  }
  .pe-p-1{
    margin-top: -15%;
    margin-right: 56%;
    margin-left: 8%;
    font-size: 15px;
  }
  .carousel-container{
    margin-top: -55%;
    margin-left: 55%;
    max-width: 38%;
  }
}
@media screen and (min-width: 768px){
  .pessoas-dv{
    height: 110vh;
  }
  .title-pes{
    font-size: 45px;
  }
  .pe-p-1{
    margin-top: -15%;
    margin-right: 56%;
    margin-left: 10%;
    font-size: 15px;
  }
  .carousel-container{
    margin-top: -42%;
    margin-left: 55%;
    max-width: 38%;
  }
}
@media screen and (min-width: 900px){
  .pessoas-dv{
    height: 100vh;
  }
  .title-pes{
    font-size: 50px;
  }
  .pe-p-1{
    margin-top: -10%;
    margin-right: 56%;
    margin-left: 8%;
    font-size: 17px;
  }
  .carousel-container{
    margin-top: -42%;
    margin-left: 55%;
    max-width: 38%;
  }
}
@media screen and (min-width: 1000px){
  .pessoas-dv{
    height: 120vh;
  }
  .title-pes{
    font-size: 60px;
    margin-top: 10%;
  }
  .pe-p-1{
    margin-top: -15%;
    margin-right: 25%;
    font-size: 20px;
  }
  .carousel-container{
    margin-top: -56%;
    margin-left: 50%;
    max-width: 38%;
  }
}
@media screen and (min-width: 1100px){
  .pessoas-dv{
    height: 120vh;
  }
  .title-pes{
    font-size: 60px;
    margin-top: 10%;
  }
  .pe-p-1{
    margin-top: -15%;
    margin-right: 25%;
    font-size: 20px;
  }
  .carousel-container{
    margin-top: -50%;
    margin-left: 50%;
    max-width: 38%;
  }
}
@media screen and (min-width: 1200px){
  .pessoas-dv{
    height: 150vh;
  }
  .title-pes{
    font-size: 60px;
    margin-left: 10%;
  }
  .pe-p-1{
    margin-top: -15%;
    margin-right: 25%;
    font-size: 20px;
  }
  .carousel-container{
    margin-top: -36%;
    margin-left: 50%;
    max-width: 38%;
  }
}
@media screen and (min-width: 1300px){
  .carousel-container{
    margin-top: -31%;
  }
}
@media screen and (min-width: 1400px){
  .carousel-container{
    margin-top: -43%;
    margin-left: 50%;
    max-width: 38%;
  }
  .title-pes{
    font-size: 70px;
    margin-top: 15%;
  }
  .pe-p-1{
    margin-top: -10%;
    margin-right: 25%;
    font-size: 25px;
  }
}
@media screen and (min-width: 1600px){
  .pessoas-dv{
    height: 100vh;
  }
  .title-pes{
    margin-top: 10%;
    margin-left: 30%;
  }
  .pe-p-1{
    margin-top: -7%;
    font-size: 24px;
    margin-right: 25%;
    margin-left: 15%;
  }
  .carousel-container{
    margin-top: -38%;
    margin-left: 50%;
  }
}
@media screen and (min-width: 1700px){
  .pessoas-dv{
    height: 100vh;
  }
  .title-pes{
    margin-top: 10%;
    margin-left: 30%;
    font-size: 90px;
  }
  .pe-p-1{
    margin-top: -7%;
    font-size: 33px;
    margin-right: 25%;
    margin-left: 15%;
  }
  .carousel-container{
    margin-top: -52%;
    margin-left: 47%;
    max-width: 45%;
  }
}
@media screen and (min-width: 1900px){
  .pessoas-dv{
    height: 100vh;
  }
  .title-pes{
    margin-top: 10%;
    margin-left: 30%;
    font-size: 90px;
  }
  .pe-p-1{
    margin-top: -7%;
    font-size: 30px;
    margin-right: 25%;
    margin-left: 15%;
  }
  .carousel-container{
    margin-top: -40%;
    margin-left: 47%;
    max-width: 40%;
  }
}
/*--------------L U G A R E S-------------*/
.lugares-dv{
  background-color:rgba(79, 118, 101, 0.7);
  color: white;
}
.lugares-dv p{
  text-align: justify;
}
.title-lug{
  font-weight: 400;
  font-size: 50px;
  margin-top: 4%;
  letter-spacing: 10px;
  margin-bottom: 10%;
  text-align: center;
}
.img-lg-1{
  border-radius: 2%;
}
.img-lg-2{
  border-radius: 2%;
}
@media screen and (min-width: 1050px){
  .img-lg-2{
    margin-left: 10%;
  }
  .img-lg-1{
    width: 95%;
  }
}
@media screen and (max-width: 600px) {
  .fotos-lg{
    margin-top: -25%;
  }
}
/*--------------S O B R E-------------*/
.sobre{
  background-color:rgba(79, 118, 101, 0.7);
}
@media screen and (min-width: 1300px){
  .sobre{
    height: 100vh;
  }
}
.sobre-dv{
  margin-left: 10%;
  margin-right: 10%;
  color: white;
}
.sobre-dv p{
  font-size: 20px;
}
.title-sobre{
  font-weight: 400;
  font-size: 55px;
  margin-top: 4%;
  letter-spacing: 10px;
  margin-bottom: 10%;
}
.tree {
  margin: 126px auto;
  padding-inline: 44px;
  max-width: 414px;
  margin-top: 3%;
  margin-bottom: 2%;
}
.links-container {
  margin: 33px auto 66px auto;
}
.a {
  display: block;
  width: 100%;
  padding: 12px 2px;
  border: 2px solid white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  margin-top: 16px;
  color: white;
}
.a:hover {
  background-color: rgba(13, 16, 16, 0.183);
}

/*--------------C O N T A T O-------------*/
.contato-dv{
  background-color: rgba(79, 118, 101, 0.7);
  color: white;
  height: 115vh;
}
.title-cont {
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 10px;
}
