@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=PT+Serif:ital@1&display=swap');

body{
  font-family: 'Quicksand', sans-serif;
}

/*--------------M E N U-------------*/
.menu-container{
  font-weight: 400;
  background-color:rgba(79, 118, 101, 0.7);
  color: white;
}
.nav{
  margin-top: 0.5%;
}
.nav :hover{
  text-decoration: overline;
  text-decoration-color: white;
}
@media screen and (max-width: 400px){
  .nav-me{
    font-size: 80%;
  }
}
/*--------------H O M E-------------*/
.home-container{
  background-color:rgba(79, 118, 101, 0.7);
}
.home-title{
  font-weight: 450;
  font-size: 60px;
  margin-top: 4%;
  letter-spacing: 10px;
  color: white;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: rgb(79, 118, 101);
}
.home-desc{
  margin-top: 1%;
  font-size: 20px;
  letter-spacing: 5px;
  font-style: italic;
  font-family: 'PT Serif', serif;
  color: white;
}
.button-home{
  margin-top: 2%;
  font-size: 20px;
  border-style: solid;
  font-style: italic;
  border-color: white;
  color: white;
  background-color: rgba(79, 118, 101, 0.329);
  transition: transform 0.3s ease;
}
.button-home:hover{
  transform: scale(1.1);
  background-color: rgba(79, 118, 101, 0.7);
}
/* home - pessoas*/
.home-container-2{
  background-image: url('./img/pessoas-1.jpg');
  background-repeat: no-repeat;
  background-position: 0 80%;
  background-size: cover;
}
/* home - lugares*/
.home-container-3{
  background-image: url('./img/praia-1-lugar.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* home - sobre*/
.home-container-sobre{
  background-image: url('./img/daniel-2-sobre.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* home - contato*/
.home-container-contato{
  background-image: url('./img/predios-1-contato.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
/*--------------P E S S O A S-------------*/
.pessoas-dv{
  background-color: rgba(79, 118, 101, 0.7);
  color: white;
}
@media screen and (min-width: 1300px){
  .pessoas-dv{
    height: 121vh;
  }
  .container-pe{
    margin-top: -22%;
  }
  .img-pes-1{
    margin-top: -7%;
    height: 70%;
  }
  .img-pes-2{
    margin-left: -10%;
    margin-top: -25%;
    height: 128%;
  }
  .img-pes-3{
    margin-left: -10%;
    margin-top: -35%;
    width: 80%;
    height: 60%;
  }
  .img-pes-4{
    height: 115%;
    margin-left: -345%;
    margin-top: -30%;
  }
  .img-pes-5{
    margin-left: -243%;
    height: 52%;
    margin-top: 35%;
    width: 65%;
  }
  .p-pe-2{
    margin-left: -10%;
  }
  .title-pes{
    margin-bottom: 5%;
  }
}
@media screen and (max-width: 700px){
  .container-pe-2{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -40%;
  }
  .title-pes{
    margin-left: -7%;
    margin-top: -10%;
    margin-bottom: -25%;
  }
  .pe-p-1{
    margin-bottom: -15%;
    margin-left: 9%;
    margin-right: 12%;
  }
  .img-pes-1{
    height: 25%;
    width: 30%;
    margin-left: -5%;
    margin-top: -8%;
    position: absolute;
  }
  .img-pes-2{
    margin-top: -5%;
    margin-left: 18%;
    width: 70%;
    height: 90%;
  }
  .img-pes-3{
    margin-top: -35%;
    margin-left: 55%;
    width: 40%;
    height: 55%;

  }
  .img-pes-4{
    margin-top: -30%;
    height: 120%;
  }
  .img-pes-5{
    margin-top: -20%;
    width: 74%;
    margin-left: 13%;
  }

}
@media screen and (max-width: 992px){
  .container-pe-2{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -30%;
    margin-bottom: -10%;
  }
}
@media screen and (max-width: 1200px){
  .container-pe-2{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -20%;
    margin-bottom: -10%;
  }
}
.title-pes{
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 10px;
}
.containe-pe{
  margin-bottom: -10%;
}
@media screen and (max-width: 400px){
  .title-pes{
    margin-left: -25%;
    margin-top: -20%;
    margin-bottom: -40%;
  }
  .img-pes-1{
    width: 40%;
    margin-top: -15%;
    margin-left: -10%;
  }
  .img-pes-3{
    height: 35%;
  }
  .img-pes-5{
    height: ;
    width: 65%;
    margin-left: 18%;
  }
}
@media screen and (max-width: 656px){
  .img-pes-1{
    margin-top: 1%;
  }
  .title-pes{
    margin-left: 1%;
  }
  .img-pes-4{
    width: 80%;
    margin-top: -40%;
    margin-left: 10%;
  }
}
/*--------------L U G A R E S-------------*/
.lugares-dv{
  background-color:rgba(79, 118, 101, 0.7);
  color: white;
}
.lugares-dv p{
  text-align: justify;
}
.title-lug{
  font-weight: 400;
  font-size: 50px;
  margin-top: 4%;
  letter-spacing: 10px;
  margin-bottom: 10%;
  text-align: center;
}
.img-lg-1{
  border-radius: 2%;
}
.img-lg-2{
  border-radius: 2%;
}
@media screen and (min-width: 1050px){
  .img-lg-2{
    margin-left: 10%;
  }
  .img-lg-1{
    width: 95%;
  }
}
@media screen and (max-width: 600px) {
  .fotos-lg{
    margin-top: -25%;
  }
}
/*--------------S O B R E-------------*/
.sobre{
  background-color:rgba(79, 118, 101, 0.7);
}
@media screen and (min-width: 1300px){
  .sobre{
    height: 100vh;
  }
}
.sobre-dv{
  margin-left: 10%;
  margin-right: 10%;
  color: white;
}
.sobre-dv p{
  font-size: 20px;
}
.title-sobre{
  font-weight: 400;
  font-size: 55px;
  margin-top: 4%;
  letter-spacing: 10px;
  margin-bottom: 10%;
}
.tree {
  margin: 126px auto;
  padding-inline: 44px;
  max-width: 414px;
  margin-top: 3%;
  margin-bottom: 2%;
}
.links-container {
  margin: 33px auto 66px auto;
}
.a {
  display: block;
  width: 100%;
  padding: 12px 2px;
  border: 2px solid white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  margin-top: 16px;
  color: white;
}
.a:hover {
  background-color: rgba(13, 16, 16, 0.183);
}

/*--------------C O N T A T O-------------*/
.contato-dv{
  background-color: rgba(79, 118, 101, 0.7);
  color: white;
  height: 115vh;
}
.title-cont {
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 10px;
}
